/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@font-face {
  font-family: "DSEG7";
  src: url("../font/DSEG7Modern-BoldItalic.woff2") format("woff2");
}

body,html {
  height: 100%;
}

body {
  background-image: url('../img/background.gif');
  background-position: center;
  background-size: cover;
}

.calculator {
  background-color: #E5989B;
  border-radius: 2em;
  box-shadow: 0 1em #B5838D;
  left: 50%;
  margin: 0;
  padding: 2em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
}

.display {
  align-items: center;
  background-color: #FFCDB2;
  border-radius: 1em;
  box-shadow: 0 -0.25em #FFB4A2;
  display: flex;
  height: 4em;
  justify-content: flex-end;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-right: 1em;
}

.display output {
  color: #504D56;
  font-family: "DSEG7", sans-serif;
  font-size: 2.5em;
  text-shadow: -0.075em 0.05em #FFB4A2;
}

.input {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 1em;
}

button {
  border-radius: 1rem;
  border: none;
  font-family: 'Concert One', monospace;
  font-size: 2em;
  height: 3rem;
  padding-bottom: 0.5rem;
  position: relative;
  top: 0;
  transition: all 0.15s;
}

.operator {
  background-color: #6D6875;
  box-shadow: 0 0.5rem #504D56;
  color: #FFCDB2;
}

.number {
  background-color: #FFCDB2;
  box-shadow: 0 0.5rem #FFB4A2;
  color: #504D56;
}

.equal {
  grid-column: span 2;
}

.operator:hover, .number:hover {
  top: 0.25rem;
}

.operator:hover {
  box-shadow: 0 0.25rem #504D56;
}

.number:hover {
  box-shadow: 0 0.25rem #FFB4A2;
}

.operator:active, .number:active, .pressed {
  top: 0.5rem;
  box-shadow: none;
}
